.dropdown-toggle::after
{
    display: none;
}

.far, .fas
{
    font-family: FontAwesome;
}

.nav-link, .navbar-brand
{
    color: white;
}

.nav-link:hover, .navbar-brand:hover, .router-link-active
{
    color: #F3C622;
}

.navbar
{
    background-color: black;
}

.dropdown-menu
{
    background-color: black;
}

.dropdown-item
{
    color: white;
}

.dropdown-item:hover
{
    color: #F3C622;
    background-color: black;
}

.logout:hover
{
    color: red !important;
}

.navbar
{
    border-bottom: 2px solid #F3C622;
}
.logout-item
{
    float: right;
    margin-right: 0;
    right: 0;
}

@media (max-width: 576px) {
    .navbar-nav { 
        flex-direction: row;
        font-size: 15px;
    }
    .nav-item {
        padding-left: 20px;
    }
}