.dropdown-toggle::after
{
    display: none;
}

.far, .fas
{
    font-family: FontAwesome;
}

.nav-link, .navbar-brand
{
    color: white;
}

.nav-link:hover, .navbar-brand:hover
{
    color: #F3C622;
}

.navbar
{
    background-color: black; 
}

.dropdown-menu
{
    background-color: black;
}

.dropdown-item
{
    color: white;
}

.dropdown-item:hover
{
    color: #F3C622;
    background-color: black;
}

.logout:hover
{
    color: red !important;
}