<div id="parameters">
  <div class="row">
    <div class="col-md-auto">
      <button class="add-button" (click)="toggleAdd()"><i class="fas fa-plus"></i></button>
    </div>


    <div class="col" *ngIf="user">
      <div class="row">
        View from:
        <div class="dropdown ml-2 mr-2" dropdown>
          <a class="dropdown-toggle" (click)="false" dropdownToggle>
            {{ user.parameters[user.parameters.length - 1].date | date: 'dd.MM.yyyy'}}
          </a>

          <div class="dropdown-menu" *dropdownMenu>
            <li class="dropdown-item" *ngFor="let parameter of parametersDates">
              {{ parameter | date: 'dd.MM.yyyy' }}
            </li>
          </div>
        </div>

        to:
        <div class="dropdown ml-2" dropdown>
          <a class="dropdown-toggle" (click)="false" dropdownToggle>
            {{ user.parameters[user.parameters.length - 2].date | date: 'dd.MM.yyyy'}}
          </a>

          <div class="dropdown-menu" *dropdownMenu>
            <li class="dropdown-item"  *ngFor="let parameter of parametersDates">
              {{parameter | date: 'dd.MM.yyyy'}}
            </li>
          </div>
        </div>
      </div>

      <div class="row mt-2">

        <table >
          <thead>
            <td>Date</td>
            <td>Weight (kg)</td>
            <td>Abdomen (cm)</td>
            <td>Biceps (cm)</td>
            <td>Thighs (cm)</td>
            <td></td>
          </thead>
          <tbody>

            <tr class="add-parameters" *ngIf="addingMode">
              <td><input type="date" value="{{newParameter.date}}" [(ngModel)]="newParameter.date" name="username" id="username" class="td-input"></td>
              <td>
                <input type="text" value="{{newParameter.weight}}" [(ngModel)]="newParameter.weight" name="username" id="username" class="td-input">
              </td>
              <td>
                <input type="text" value="{{newParameter.abdominalCircumference}}" [(ngModel)]="newParameter.abdominalCircumference" name="username" id="username" class="td-input">
              </td>
              <td>
                <input type="text" value="{{newParameter.bicepsCircumference}}" [(ngModel)]="newParameter.bicepsCircumference" name="username" id="username" class="td-input">
              </td>
              <td>
                <input type="text" value="{{newParameter.thighCircumference}}" [(ngModel)]="newParameter.thighCircumference" name="username" id="username" class="td-input">
              </td>

              <td>
                <button class="save-button" (click)="addParameter()" type="submit"><i class="far fa-check-square"></i></button>
              </td>
            </tr>


            <tr *ngFor="let parameter of user.parameters; index as i" id="parameter[{{i}}]" >
              <td>
                <input type="datetime-local"  value="{{parameter.date}}" [(ngModel)]="user.parameters[i].date" name="name1" id="name1" class="td-input read-only">
              </td>
              <td>
                <input type="text" value="{{parameter.weight}}" [(ngModel)]="user.parameters[i].weight" name="name1" id="name1" class="td-input read-only">
              </td>
              <td>
                <input type="text" value="{{parameter.abdominalCircumference}}" [(ngModel)]="user.parameters[i].abdominalCircumference" name="name1" id="name1" class="td-input read-only">
              </td>
              <td>
                <input type="text" value="{{parameter.bicepsCircumference}}" [(ngModel)]="user.parameters[i].bicepsCircumference" name="name2" id="name2" class="td-input read-only">
              </td>
              <td>
                <input type="text" value="{{parameter.thighCircumference}}" [(ngModel)]="user.parameters[i].thighCircumference" name="name2" id="name2" class="td-input read-only">
              </td>
              <td>
                <button *ngIf="!editMode" (click)="deleteParameter(i)">
                  Remove
                </button>
                <button *ngIf="!editMode" (click)="toggleEdit(i)">
                  Edit
                </button>
                <button *ngIf="editMode" (click)="toggleEdit(i)">
                  Cancel
                </button>
                <button *ngIf="editMode" (click)="editParameter(i)">
                  Save
                </button>

            </td>
            </tr>

          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>