<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-lg-5 mr-3">
      <!-- Input area -->
      <div class="row">
        <input type="text" class="form-control" placeholder="Name your dish" [(ngModel)]="dish.name">
      </div>
      <div class="invalid-feedback" *ngIf="">
        This field is required.
      </div>
      <app-search [userId]="this.userId" (searched)="onSearched($event)" (filtersApplied)="onFiltersApplied($event)"
        (filtersReset)="onFiltersReset($event)">
      </app-search>

      <!-- Results of search -->
      <div class="mt-2">
        <div class="row list-item mb-2" *ngFor="let ing of ingredients">
          <div class="col-10 pl-2 pt-2">
            <p>{{ ing.name }}</p>
            <table>
              <tr>
                <td>Energy: {{ ing.callories }} kcal</td>
                <td>Proteins: {{ ing.proteins }} g</td>
                <td>Fats: {{ ing.fats }} g</td>
                <td>Carbohydrates: {{ ing.carbohydrates }} g</td>
              </tr>
            </table>
          </div>
          <div class="col-2 pr-0">
            <button class="add-button pull-right" (click)="addToDish(ing)">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Added ingredients list -->
    <div class="col-lg-5 ml-3">
      <div class="row added-ingredients-header">
        Added ingredients:
      </div>
      <div class="row list-item" *ngFor="let ing of addedIngredients">
        <div class="col-10">
          <p class="lead">{{ ing.ingredient.name }}</p>
          <table>
            <tr>
              <td>Energy: {{ ing.ingredient.callories }} kcal</td>
              <td>Proteins: {{ ing.ingredient.proteins }} g</td>
              <td>Fats: {{ ing.ingredient.fats }} g</td>
              <td>Carbohydrates: {{ ing.ingredient.carbohydrates }} g</td>
            </tr>
          </table>
        </div>
        <div class="col-2 pr-0">
          <button class="delete-button pull-right" (click)="deleteFromDish(ing)">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <!-- List of added ingredients empty -->
      <div class="row no-ingredients" *ngIf="addedIngredients.length === 0">
        Empty
      </div>

      <!-- Buttons -->
      <div class="row justify-content-center mt-3" *ngIf="addedIngredients.length > 1">
        <div class="col-5">
          <button type="reset" class="cancel-button"><i class="far fa-times"></i></button>
        </div>
        <div class="col-5">
          <button type="submit" class="confirm-button" (click)="addDish()"><i class="far fa-check"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>