/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules//font-awesome/css/font-awesome.min.css';
/*@import '../node_modules/font-awesome/css/font-awesome.css'; */
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

.dropdown-toggle, .dropdown-item, .navbar-brand, .nav-item
{
    cursor: pointer;
}

.add-button, .edit-button, .delete-button, .confirm-button, .cancel-button
{
    background-color: rgb(39, 39, 39);
    color: #F3C622;
    border: none;
}

.add-button:hover, .edit-button:hover, .delete-button:hover, .confirm-button:hover, .cancel-button:hover
{
    background-color: #F3C622;
    color: rgb(39, 39, 39);
}

body
{
    background-color: rgb(39, 39, 39);
    color: rgb(230, 230, 230);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
