<div class="row list-item">
  <div class="col-12">
    <div class="row">
      <div class="col-5 mt-2">
        {{ dish.name }}
      </div>
      <div class="col-5 mt-2">
        <!-- 1x{{ingredient.unit}}  -->
        {{ dish.weight }} g
      </div>
      <div class="col-2 buttons">
        <button class="delete-button pull-right" (click)="deleteDish(dish.id)"><i class="fas fa-times"></i></button>
        <button class="edit-button pull-right" [routerLink]="['edit-dish', dish.id]"
          routerLinkActive="router-link-active"><i class="fas fa-edit"></i></button>
      </div>
    </div>
    <div class="row">
      <table *ngIf="dish !== null">
        <tr>
          <td>Energy: {{ dish.callories }} kcal</td>
          <td>Proteins: {{ dish.proteins }} g</td>
          <td>Fats: {{ dish.fats }} g</td>
          <td>Carbohydrates: {{ dish.carbohydrates }} g</td>
        </tr>
      </table>
    </div>
  </div>
</div>