<div class="row justify-content-center mt-2">
  <input type="text" placeholder="Search" #searchBox
    (input)="findDishes(searchBox.value); findIngredients(searchBox.value);">
</div>

<div class="row mt-2">
  <div class="col-lg-6 dishes">
    <div class="row justify-content-center dishes-header">
      Dishes:
    </div>
    <div class="row list-element mb-2" *ngFor="let dish of dishes$ | async">
      <div class="col-10 pl-2 pt-2">
        <p>{{ dish.name }}</p>
        <table>
          <tr>
            <td>Energy: {{ dish.callories }} kcal</td>
            <td>Proteins: {{ dish.proteins }} g</td>
            <td>Fats: {{ dish.fats }} g</td>
            <td>Carbohydrates: {{ dish.carbohydrates }} g</td>
          </tr>
        </table>
      </div>
      <div class="col-2 pr-0">
        <button class="add-button pull-right" (click)="addToMeal(dish.id, 0)"><i class="fas fa-plus"></i></button>
      </div>
    </div>
  </div>

  <div class="col-lg-6 ingredients">
    <div class="row justify-content-center ingredients-header">
      Ingredients:
    </div>
    <div class="row list-element" *ngFor="let ingredient of ingredients$ | async">
      <div class="col-10">
        <p>{{ ingredient.name }}</p>
        <table>
          <tr>
            <td>Energy: {{ ingredient.callories }} kcal</td>
            <td>Proteins: {{ ingredient.proteins }} g</td>
            <td>Fats: {{ ingredient.fats }} g</td>
            <td>Carbohydrates: {{ ingredient.carbohydrates }} g</td>
          </tr>
        </table>
      </div>
      <div class="col-2">
        <button class="add-button" (click)="addToMeal(0, ingredient.id)"><i class="fas fa-plus"></i></button>
      </div>
    </div>
  </div>
</div>