.add-button
{
    width: 2.3vw;
    height: 2.3vw;
    font-size: 1.3em;
}

.button-div
{
    padding-top: 1px;
}

.list-element
{
    border: 2px solid rgb(187, 152, 24);

}

.list-element:hover
{
    background-color: rgb(58, 58, 58);
}

td:not(:last-child)
{
    border-right: 1px solid gray;
}

td
{
    padding-right: 5px;
    padding-left: 5px;
}

table
{
    width: 100%;
}

.dishes-header, .ingredients-header
{
    font-size: 1.4em;
}

.nutrient-number
{
    white-space: nowrap;
}