<div class="container mt-3 mb-3">
  <div class="row justify-content-center">
    <div class="col-sm-7">
      <form *ngIf="ingredientForm" [formGroup]="ingredientForm" (ngSubmit)="updateIngredient()">
        <div class="row">
          <div class="col-3 mt-1">
            Name:
          </div>
          <div class="col-9">
            <input type="text" class="form-control" formControlName="name"
              [ngClass]="{ 'is-invalid': ingredientForm.get('name').errors && ingredientForm.get('name').touched}">
            <div class="invalid-feedback">
              {{ this.requiredFieldMessage }}
            </div>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-3 mt-1">
            Brand:
          </div>
          <div class="col-9">
            <input class="form-control" type="text" formControlName="brand">
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-3 mt-1">
            Unit:
          </div>
          <div class="col-8 mt-1">
            <input type="radio" name="unit" value="1" formControlName="unit"> Packet
            <input type="radio" name="unit" value="0" formControlName="unit"> Portion
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-3 mt-1">
            Grams per unit (g):
          </div>
          <div class="col-9">
            <input type="number" class="form-control" formControlName="gramsPerUnit"
              [ngClass]="{ 'is-invalid': ingredientForm.get('gramsPerUnit').errors && ingredientForm.get('gramsPerUnit').touched }">
            <div class="invalid-feedback">
              {{ this.requiredFieldMessage }}
            </div>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-3 mt-1">
            Callories (kcal):
          </div>
          <div class="col-9">
            <input type="number" class="form-control" formControlName="callories"
              [ngClass]="{ 'is-invalid': ingredientForm.get('callories').errors && ingredientForm.get('callories').touched }">
            <div class="invalid-feedback">
              {{ this.requiredFieldMessage }}
            </div>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-3 mt-1">
            Fats (g):
          </div>
          <div class="col-9">
            <input type="number" class="form-control" formControlName="fats" #f
              [ngClass]="{ 'is-invalid': ingredientForm.get('fats').errors && ingredientForm.get('fats').touched }">
            <div class="invalid-feedback">
              <div *ngIf="ingredientForm.get('fats').hasError('required')">
                {{ this.requiredFieldMessage }}
              </div>
              <div *ngIf="ingredientForm.get('fats').hasError('notEqual')">
                sakdjal
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-3 mt-1">
            Carbohydrates (g):
          </div>
          <div class="col-9">
            <input type="number" class="form-control" formControlName="carbohydrates"
              [ngClass]="{ 'is-invalid': ingredientForm.get('fats').errors && ingredientForm.get('fats').touched }">
            <div class="invalid-feedback">
              {{ this.requiredFieldMessage }}
            </div>
          </div>

        </div>

        <div class="row mt-1">
          <div class="col-3 mt-1 pl-5">
            Sugars (g):
          </div>
          <div class="col-9">
            <input type="number" class="form-control" formControlName="sugars">
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-3 mt-1">
            Proteins (g):
          </div>
          <div class="col-9">
            <input type="number" class="form-control" formControlName="proteins">
          </div>
        </div>

        <div class="row mt-1">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              More info
            </mat-expansion-panel-header>

            <div class="row">
              Fats:
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Saturated (g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="saturatedFats">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Monounsaturated (g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="monounsaturatedFats">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Polyunsaturated (g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="polyunsaturatedFats">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1 pl-5">
                Omega 3 (g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="omega3">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1 pl-5">
                Omega 6 (g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="omega6">
              </div>
            </div>

            <div class="row">
              Proteins:
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Animal proteins (g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="animalProteins">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Plant proteins (g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="plantProteins">
              </div>
            </div>

            <div class="row mt-1">
              Vitamins:
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Vitamin A (&micro;g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="vitaminA">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Vitamin B1 (g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" placeholder="Thiamine" formControlName="vitaminB1">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Vitamin B2 (mg):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" placehodler="Riboflavin" formControlName="vitaminB2">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Vitamin B5 (mg):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" palceholder="Pantothenic acid" formControlName="vitaminB5">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Vitamin B6 (mg):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="vitaminB6">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Vitamin B7 (&micro;g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" placeholder="Biotin" formControlName="vitaminB7">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Vitamin B9 (&micro;g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" placeholder="Folic acid" formControlName="vitaminB9">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Vitamin B12 (&micro;g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" placeholder="Cobalamin" formControlName="vitaminB12">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Vitamin C (mg):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" placeholder="Ascorbic acid" formControlName="vitaminC">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Vitamin D (&micro;g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="vitaminD">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Vitamin E (mg):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" placeholder="Niacin" formControlName="vitaminE">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Vitamin PP (mg):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="vitaminPP">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Vitamin K (&micro;g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="vitaminK">
              </div>
            </div>

            <div class="row mt-1">
              Minerals:
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Zinc (mg):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="zinc">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Phosphorus (mg):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="phosphorus">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Iodine (&micro;g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="iodine">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Magnesium (mg):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="magnesium">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Copper (mg):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="copper">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Potassium (mg):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="potassium">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Selenium (&micro;g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="selenium">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Sodium (mg):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="sodium">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Calcium (mg):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="calcium">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Iron (mg):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="iron">
              </div>
            </div>

            <div class="row mt-1">
              Other:
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Salt (g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="salt">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Cholesterol (mg):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="cholesterol">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-3 mt-1">
                Fiber (g):
              </div>
              <div class="col-9">
                <input type="number" class="form-control" formControlName="fiber">
              </div>
            </div>
          </mat-expansion-panel>
        </div>

        <div class="row justify-content-center mt-1 buttons">
          <div class="col-5">
            <button class="cancel-button" type="reset" [routerLink]="['/my-food']"
              routerLinkActive="router-link-active">
              <i class="far fa-times"></i>
            </button>
          </div>
          <div class="col-5">
            <button class="confirm-button" type="submit" [disabled]="!ingredientForm.valid">
              <i class="far fa-check"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>