input:focus
{
    border: 2px solid #F3C622;
}

mat-expansion-panel
{
    width: 100% !important;
}

.far
{
    font-family: fontawesome;
}

.confirm-button, .cancel-button
{
    font-size: 2em;
    width: 80%;
}

.confirm-button:disabled
{
    color: red;
}

.buttons
{
    text-align: center;

}