form
{
    display: flex;
}

.row
{
    min-width: 100%;
}

.edit-button, .save-button, .cancel-button, .add-button
{
    width: 90px;
    border: none;
    background-color: #F3C622;
    color: #343a40;
    transition: .2s ease-in-out;
}

.add-button:hover, .save-button:hover, .cancel-button:hover, .edit-button:hover
{
    background-color: #343a40;
    color: #F3C622;
}

.add-button:active, .save-button:active, .cancel-button:active, .edit-button:active
{
    transition: .1s ease-in-out;
    background-color: #23212C;
    color: #E1A511;
}

.edit-button, .add-button
{
    height: 90px;
    font-size: 3em;
}

.save-button, .cancel-button
{
    height: 45px;
    font-size: 2em;
}

.bold
{
    font-weight: bold;
}

.calculationType
{
    display: flex;
    width: 100%;
}

.calculationType input
{
    display: none;
}

.calculationType label
{
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    flex: 1 1 100%;
    justify-content: center;
    text-align: center;
    border: 1px solid  #343a40;
    cursor: pointer;
}

.calculationType label:hover
{
     background-color: rgba(0, 0, 0, .1);
}

.calculationType label:first-of-type
{
    border-right: none;
    color: #000;
}
.calculationType label:last-of-type
{
    border-left: none;
}

.autoCalculation:after
{
    content: '';
    display:block;
    width: 100%;
    position: relative;
    bottom: 100%;
    z-index: -1;
    height: 100%;
    background: #F3C622;
    transition: .5s ease-in-out;
}

.autoCalculation.selected:after
{
    transition: .35s ease-in-out;
    left: 0;
}
.autoCalculation.unselected:after
{

    transition: .35s ease-in-out;
    left: 100%;
}

ul
{
    width: 50%;
    display: flex;
    flex-direction: column;

}

li
{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    transition: all .2s ease-out;
    overflow: hidden;
}

ul.calculation li
{
    flex-direction: column;
    padding-bottom: 15px;
    height: 100%;
}

li label
{
    width: 100%;
}

li input
{
    width: 100%;

}

li input[type=range]
{
   height: 100%;
}

li output
{
    width: 100%;
}

.result
{
    display: flex;
    width: 50%;
}
.result ul {
    display: flex;
    width:100%;
}

span
{
    white-space: nowrap;
}

input[type=range]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    color: #992409;
    background-color: #992409;
}

input[type=range]::-moz-range-thumb
{
    color: #992409;
    background: #992409;
}

input[type=range]::-ms-thumb
{
    color: #992409;
    background: #992409;
}

.fa-question-circle:hover
{
    color: #fff;
    cursor: pointer;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
::ng-deep .my-tooltip
{
    font-size: 1em;
    white-space: pre-line;
    line-height: 150%;
}

.success
{
    color: green;
}

.danger
{
    color: #992409;
}


.hide, .hide *, .hide * *
{
    height: 0 !important;
    padding-bottom: 0 !important;
    overflow: hidden !important;
}

/*
    input range styles
*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #992409;
  border-radius: 0px;
  border: 0.3px solid rgba(153, 36, 9, 0.57);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #f3c622, 0px 0px 0px #f4cc3a;
  border: 4px solid #f3c622;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #992409;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #b12a0a;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #992409;
  border-radius: 0px;
  border: 0.3px solid rgba(153, 36, 9, 0.57);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #f3c622, 0px 0px 0px #f4cc3a;
  border: 4px solid #f3c622;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #992409;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #811e08;
  border: 0.3px solid rgba(153, 36, 9, 0.57);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #992409;
  border: 0.3px solid rgba(153, 36, 9, 0.57);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #f3c622, 0px 0px 0px #f4cc3a;
  border: 4px solid #f3c622;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #992409;
  cursor: pointer;
  height: 9px;
}

input[type=range]:focus::-ms-fill-lower,
input[type=range]:hover::-ms-fill-lower {
background: #992409;
}
input[type=range]:focus::-ms-fill-upper,
input[type=range]:hover::-ms-fill-upper {
  background: #b62b0b;
}

@media(max-width: 576px)
{
    .edit-button
{
    height: 60px;
    width: 50px;
    font-size: 2em;
    
}
.save-button, .cancel-button, .add-button
{
    height: 40px;
    width: 30px;
    font-size: 1em;
}
}