form
{
    display: flex;
}
.edit-button, .save-button, .cancel-button
{
    width: 90px;
    border: none;
    background-color: #F3C622;
    color: #343a40;
    transition: .2s ease-in-out;
}

.add-button:hover, .save-button:hover, .cancel-button:hover, .edit-button:hover
{
    background-color: #343a40;
    color: #F3C622;
}

.add-button:active, .save-button:active, .cancel-button:active, .edit-button:active
{
    transition: .1s ease-in-out;
    background-color: #23212C;
    color: #E1A511;
}

.edit-button
{
    height: 90px;
    font-size: 3em;
}

.save-button, .cancel-button
{
    height: 45px;
    font-size: 2em;
}

.bold
{
    font-weight: bold;
}

.calculationType
{
    display: flex;
    width: 100%;
}

.calculationType input
{
    display: none;
}

.calculationType label
{
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    flex: 1 1 100%;
    justify-content: center;
    text-align: center;
    border: 1px solid  #343a40;
    cursor: pointer;
}

.calculationType label:hover
{
     background-color: rgba(0, 0, 0, .1);
}

.calculationType label:first-of-type
{
    border-right: none;
    color: #000;
}
.calculationType label:last-of-type
{
    border-left: none;
}

.autoCalculation:after
{
    content: '';
    display:block;
    width: 100%;
    position: relative;
    bottom: 100%;
    z-index: -1;
    height: 100%;
    background: #F3C622;
    transition: .5s ease-in-out;
}

.autoCalculation.selected:after
{
    transition: .35s ease-in-out;
    left: 0;
}
.autoCalculation.unselected:after
{

    transition: .35s ease-in-out;
    left: 100%;
}

ul
{
    width: 50%;
    display: flex;
    flex-direction: column;

}

li{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

li label
{
    width: 50%;
    padding: 5px;
}
li input
{
    width: 40%;
    min-width: 40%;
    max-width: 50%;
}

li output
{
    width: 10%;
    min-width: 40px;
}

.result
{
    display: flex;
    width: 50%;
}
.result ul {
    display: flex;
    width:100%;
}

span
{
    white-space: nowrap;
}