<div class="row" *ngIf="!editMode">
  <div class="col-md-auto">
    <button class="edit-button" (click)="toggleEdit()"><i class="fas fa-edit"></i></button>
  </div>

  <div class="col">
    <div class="row">
      <div class="col-md">
        <div class="row bold">
          Estimated time:
        </div>
        <div class="row">
          <p class="lead">21.12.2019</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="row bold">
          Weight:
        </div>
        <div class="row">
          <p class="lead">80 <i class="fas fa-long-arrow-alt-right"></i> 85</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="row bold">
          Change per week:
        </div>
        <div class="row">
          <p class="lead">0.2 kg</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="row bold">
          Activity during the day:
        </div>
        <div class="row">
          <p class="lead">Medium</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="row bold">
          Training activity:
        </div>
        <div class="row">
          <p class="lead">Low</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="row bold">
          Daily needs:
        </div>
        <div class="row">
          <p class="lead">Callories: 2500 | Proteins: 34 g | Fats: 54 g | Carbohydrates: 300 g</p>
        </div>
      </div>
    </div>
  </div>
</div>

<form (ngSubmit)="saveChanges()" class="ml-3">
  <div class="row" *ngIf="editMode">
    <div class="col-md-auto">
      <div class="row">
        <button class="save-button" type="submit"><i class="far fa-check-square"></i></button>
      </div>
      <div class="row">
        <button class="cancel-button" (click)="toggleEdit()" type="reset"><i class="far fa-window-close"></i></button>
      </div>
    </div>

    <div class="col">

    </div>
  </div>
</form>