<div class="row" *ngIf="!editMode">
  <div class="col-md-auto">
    <button class="edit-button" (click)="toggleEdit()"><i class="fas fa-edit"></i></button>
  </div>

  <div class="col">
    <div class="row">
      <div class="col-md">
        <div class="row bold">
          Estimated time:
        </div>
        <div class="row">
          <p class="lead">21.12.2019</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="row bold">
          Weight:
        </div>
        <div class="row">
          <p class="lead">80 <i class="fas fa-long-arrow-alt-right"></i> 85</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="row bold">
          Change per week:
        </div>
        <div class="row">
          <p class="lead">0.2 kg</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="row bold">
          Activity during the day:
        </div>
        <div class="row">
          <p class="lead">Medium</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="row bold">
          Training activity:
        </div>
        <div class="row">
          <p class="lead">Low</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="row bold">
          Daily needs:
        </div>
        <div class="row">
          <p class="lead">Callories: 2500 | Proteins: 34 g | Fats: 54 g | Carbohydrates: 300 g</p>
        </div>
      </div>
    </div>
  </div>
</div>

<form (ngSubmit)="saveChanges()" class="ml-3">
  <div class="row" *ngIf="editMode">
    <div class="col-md-auto">
      <div class="row">
        <button class="save-button" type="submit"><i class="far fa-check-square"></i></button>
      </div>
      <div class="row">
        <button class="cancel-button" (click)="toggleEdit()" type="reset"><i class="far fa-window-close"></i></button>
      </div>
    </div>

    <div class="col">

      <form name="myform" (click)="calculate()" oninput="
      trainingActivityValue.value = trainingActivity.valueAsNumber;
      dayActivityValue.value = dayActivity.valueAsNumber;">
        <ul>
          <label>Type of calculation:</label>
          <div class="calculationType">
            <label class="autoCalculation selected" (click)="calculationTypeToggle()" for="auto">Auto
              <input name="calculationType" type="radio" id="auto" checked>
            </label>
            <label for="manual" (click)="calculationTypeToggle()" class="manualCalculation">Manual
              <input name="calculationType" type="radio" id="manual">
            </label>
          </div>
          <div>
            <li>
              <label for="actualWeight">Actual weight:</label>
              <input name="actualWeight" id="actualWeight" value="{{actualWeight}}" step="0.05" min="0.05" type="number"
                (input)="calculate()">
            </li>
            <li *ngIf="autoMode">
              <label for="estimatedTime">Estimated time:</label>
              <input name="estimatedTime" id="estimatedTime" value="{{dateNextWeek}}" type="date" (input)="calculate()" value="{{now}}">
            </li>
            <li>
              <label for="estimatedWeight">Estimated weight:</label>
              <input name="estimatedWeight" id="estimatedWeight" value="{{estimatedWeight}}" step="0.05" min="0.05" type="number" (input)="calculate()">
            </li>
            <li *ngIf="!autoMode">
              <label for="changePerWeek">Change per week:</label>
              <output name="changePerWeekValue" for="range1">0.5</output>
              <input name="changePerWeek" id="changePerWeek" type="range" (input)="calculate()" step="0.05" min="0" max="2" value="0.5">
            </li>
            <li>
              <label for="dayActivity">Activity during the day <span>(1: low - 4: high):</span></label>
              <output name="dayActivityValue" for="range1">2</output>
              <input name="dayActivity" id="dayActivity" type="range" (input)="calculate()" step="1" min="1" max="4" value="2">

            </li>

            <li>
              <label for="trainingActivity">Training activity <span>(per week):</span></label>
              <output name="trainingActivityValue">1</output>
              <input name="trainingActivity" id="trainingActivity" type="range" (input)="calculate()" step="1" min="0" max="10" value="1">
            </li>
            <!-- <li>
              <label for="trainingActivity">Training activity:</label>
              <input name="trainingActivity" id="trainingActivity" type="range" step="1" min="1" max="5" value="1">
            </li> -->
          </div>
          <div *ngIf="!autoMode">
            <li>
              <label for="dailyCalories">Daily calories</label>
              <input name="dailyCalories" id="dailyCalories" type="text" min ="0" max="100">
            </li>
            <li>
              <label for="proteins">Proteins (%)</label>
              <input name="proteins" id="proteins" type="number" min ="0" max="100">
            </li>
            <li>
              <label for="fats">Fats (%)</label>
              <input name="fats" id="fats" type="number" min ="0" max="100">
            </li>
            <li>
              <label for="carbohydrates">Carbohydrates (%)</label>
              <input name="carbohydrates" id="carbohydrates" type="number" min ="0" max="100">
            </li>
          </div>
        </ul>

        <div class="result">
          <ul>
            <li>
              <div>Daily demand (kcal)</div>
              <div>{{dailyCalories| number:'1.0-0'}}</div>
            </li>
            <li>
              <div>Estimated calories (kcal)</div>
              <div>{{estimatedCalories| number:'1.0-0'}}</div>
            </li>
            <li>
              <div>Proteins (g)</div>
              <div>{{proteinsResult| number:'1.0-0'}}</div>
            </li>
            <li>
              <div>Fats (g)</div>
              <div>{{fatsResult| number:'1.0-0'}}</div>
            </li>
            <li>
              <div>Carbohydrates (g)</div>
              <div>{{carbohydratesResult| number:'1.0-0'}}</div>
            </li>
          </ul>
        </div>

      </form>
    </div>
  </div>
</form>