/deep/ li.page-item > .page-link, /deep/ li.page-item.disabled > .page-link
{
    background-color: rgb(29, 29, 29);
    color: #F3C622;
    border: none;
}

/deep/ li.page-item > .page-link:hover, /deep/ li.page-item.active > .page-link
{
    background-color: #F3C622;
    color: rgb(29, 29, 29);
}

mat-expansion-panel
{
    background-color: rgb(63, 63, 63);
    color: rgb(230, 230, 230);
}

/deep/ .mat-expansion-indicator::after
{
    color: rgb(230, 230, 230);
}

.far
{
    font-family: fontawesome;
}

.frameSelected
{
    display: inline-block;
    width: auto;
    height: 100%;
    position: absolute;
    bottom: 100%;
    background: #F3C622;
    transition: .5s ease-in-out;
    z-index: 2;
    top: 0%;
}

.radioGroup
{
    position: relative;
}

.radioGroup input
{
    display: none;
}

.radioGroup div label
{
    padding: 5px;
    z-index: 3;
    position: relative;
    height: 100%;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: center;
    white-space: nowrap;
    border: 1px solid rgba(255, 255, 255, 0);
}

.radioGroup div label:hover,
.radioGroup div:hover label
{
    cursor: pointer;
    color: #f00 !important;
    background-color: rgba(90, 90, 90, 0.527);
}

.cancel-button, .confirm-button
{
    background-color: inherit;
    width: 3vw;
    height: 3vw;
    font-size: 2em;
    align-self: center;
}

.cancel-button:hover, .confirm-button:hover
{
    background-color: #F3C622;
    color:rgb(63, 63, 63);
}

.radioLabel
{
    color: rgb(63, 63, 63);
}