.add-button
{
    background-color: black;
    color:#F3C622;
    border: none;
}

.add-button:hover
{
    background-color: #F3C622;
    color: black;
}

.list-element:hover
{
    background-color: rgb(240, 240, 240);
}

td:not(:last-child)
{
    border-right: 1px solid gray;
}

td
{
    padding-right: 10px;
    padding-left: 10px;
}

table
{
    width: 100%;
    font-size: 0.8em;
}