<div class="container">
  <div class="row mt-4">
    <div class="col-md-2">
      <div class="nav">
        <button [routerLink]="['/profile/main']" routerLinkActive="active">Profile</button> <br>
        <button [routerLink]="['/profile/parameters']" routerLinkActive="active">Parameters</button> <br>
        <button [routerLink]="['/profile/charts']" routerLinkActive="active">Charts</button> <br>
        <button [routerLink]="['/profile/target']" routerLinkActive="active">Target</button>
      </div>
    </div>

    <div class="col-md-10">
      <hr />
      <router-outlet name="profile"></router-outlet>
      <hr />
    </div>
  </div>
</div>