<div class="container">
  <div class="row mt-4">
    <div class="col-md-2">
      <div class="nav">
        <button (click)="navigate('main')">Main</button> <br>
        <button (click)="navigate('parameters')">Parameters</button> <br>
        <button (click)="navigate('charts')">Charts</button> <br>
        <button (click)="navigate('target')">Target</button>
      </div>
    </div>

    <div class="col-md-10">
      <hr />
      <router-outlet name="profile"></router-outlet>
      <hr />
    </div>
  </div>
</div>