button
{
    font-weight: 500;
    font-size: 2vw;
    cursor: pointer;
    border: none;
    color: white;
    background-color: inherit;
    border-bottom: 1px solid black;
    width:100%;
    padding: 3px;
    transition: .2s ease-in-out
}

button:hover
{
    background-color: inherit;
    color:#F3C622;
    border-bottom: 2px solid #F3C622;
}

button.active,
button:active,
button:focus
{
    background-color: inherit;
    color:#E1A511;
    border-bottom: 2px solid #E1A511;
}

.nav
{
    min-width:120px;
}

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(0, 0, 0);
    margin: 1em 0;
    padding: 0;
}