button
{
    font-weight: 500;
    font-size: 2vw;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color:inherit;
    border: 1px solid #272727;

    width:100%;
    padding: 3px;
    transition: .2s ease-in-out
}

button:hover
{
    background-color: inherit;
    color:#F3C622;
    border-bottom: 1px solid #F3C622;
    border-top: 1px solid #F3C622;
}

button.active,
button:active,
button:focus
{
    background-color: inherit;
    color:#E1A511;
    border-bottom: 1px solid #E1A511;
    border-top: 1px solid #E1A511;
    outline-style: none;
}

.nav
{
    min-width:120px;
}

hr
{
    display: block;
    height: 2px;
    border: 0;
    margin: 0em 0;
    padding: 0;
    border-top: 3px solid;
    border-image-source: radial-gradient(rgb(243, 198, 34), rgb(39, 39, 39) 80%,  rgb(39, 39, 39)  10%);
    border-image-slice: 1;
}