.far
{
    font-family: fontawesome;
}

.list-item
{
    border: 2px solid rgb(187, 152, 24);
    margin-bottom: 2px;
}

.list-element:hover
{
    background-color: rgb(58, 58, 58);
}

td:not(:last-child)
{
    border-right: 1px solid gray;
}

td
{
    padding-right: 10px;
    padding-left: 10px;
}

table
{
    width: 100%;
}

.add-button, .delete-button
{
    font-size: 1.3em;
    width: 2.6vw;
    height: 2.6vw;
}   

.confirm-button, .cancel-button
{
    font-size: 2em;
    width: 80%;
}

.no-ingredients
{
    font-size: 2em;
    color: rgb(75, 75, 75);
}

.added-ingredients-header
{
    font-size: 1.3em;
}

.legend
{
    background-color: rgb(63, 63, 63);
    color: rgb(180, 180, 180);
    text-align: center;
}

/deep/ li.page-item > .page-link:hover, /deep/ li.page-item.active > .page-link
{
    background-color: #F3C622;
    color: rgb(29, 29, 29);
}

mat-expansion-panel
{
    background-color: rgb(63, 63, 63);
    color: rgb(230, 230, 230);
}

/deep/ .mat-expansion-indicator::after
{
    color: rgb(230, 230, 230);
}