.far
{
    font-family: fontawesome;
}

.list-item
{
    border: 2px solid rgb(187, 152, 24);
    margin-bottom: 2px;
}

.list-element:hover
{
    background-color: rgb(58, 58, 58);
}

td:not(:last-child)
{
    border-right: 1px solid gray;
}

td
{
    padding-right: 10px;
    padding-left: 10px;
}

table
{
    width: 100%;
}

.add-button, .delete-button
{
    font-size: 1.3em;
    width: 2.6vw;
    height: 2.6vw;
}   

.confirm-button, .cancel-button
{
    font-size: 2em;
    width: 80%;
}

.no-ingredients
{
    font-size: 2em;
    color: rgb(75, 75, 75);
}

.added-ingredients-header, .nutrients-header
{
    font-size: 1.3em;
}

.header
{
    /* padding-left: 6px; */
    border-bottom: 2px solid  rgb(75, 75, 75);
    /* border-left: 2px solid  rgb(75, 75, 75); */
}

.legend
{
    background-color: rgb(63, 63, 63);
    color: rgb(180, 180, 180);
    text-align: center;
}

/deep/ li.page-item > .page-link:hover, /deep/ li.page-item.active > .page-link
{
    background-color: #F3C622;
    color: rgb(29, 29, 29);
}

mat-expansion-panel
{
    background-color: rgb(63, 63, 63);
    color: rgb(230, 230, 230);
}

/deep/ .mat-expansion-indicator::after
{
    color: rgb(230, 230, 230);
}

.add-button
{
    width: 2.3vw;
    height: 2.3vw;
    font-size: 1.3em;
}

.button-div
{
    padding-top: 1px;
}

.list-element
{
    border: 2px solid rgb(187, 152, 24);

}

.list-element:hover
{
    background-color: rgb(58, 58, 58);
}

.nameInput
{
    margin-bottom: -8px;
}

/deep/ .dialog > div
{
    border: 1px solid #F3C622;
    background-color: rgb(75, 75, 75) !important;
}

/deep/ .dialog div nav button
{
    background-color: inherit !important;
    color: #F3C622 !important;
}

/deep/ .dialog div nav button:hover
{
    background-color: #F3C622 !important;
    color: rgb(75, 75, 75) !important;
}