<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      Breakfast
    </div>
    <div class="col">
      Dodaj
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col"></div>
    <div class="col-8">
      tu będzie nazwa dania lub składnika ustawionego na śniadanie
    </div>
    <div class="col">
      Edytuj
    </div>
    <div class="col">
      Usuń
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-8">
      Second Breakfast
    </div>
    <div class="col">
      Dodaj
    </div>
  </div>
  <div class="row justify-content-center">
      <div class="col"></div>
      <div class="col-8">
        tu będzie nazwa dania lub składnika ustawionego na drugie śniadanie
      </div>
      <div class="col">
        Edytuj
      </div>
      <div class="col">
        Usuń
      </div>
  </div>
  <div class="row justify-content-center">
      <div class="col"></div>
      <div class="col-8">
        będzie ich tyle ile dodanych dań/składników do danego posiłku
      </div>
      <div class="col">
        Edytuj
      </div>
      <div class="col">
        Usuń
      </div>
  </div>

  itd...
</div>