.mealtype
{
    border-bottom: 3px solid rgb(187, 152, 24);
    border-top: 3px solid rgb(187, 152, 24);

}

.mealtype-header
{
    font-size: 1.8em;
}

.mealtype-buttons
{
    border-left: none;
    padding-right: 0;
}

.meal-buttons
{
    padding-right: 0;
}

.copy-button
{
    border: none;
    background-color: rgb(39, 39, 39);
    color: rgb(187, 152, 24);
    font-size: 1.6em;
    width: 3vw;
    height: 3vw;
}

.copy-button:hover
{
    background-color: rgb(187, 152, 24);
    color: rgb(39, 39, 39);
}

.add-button, .edit-button, .delete-button
{
    border: none;
    font-size: 1.6em;
    width: 3vw;
    height: 3vw;
}

/* .divider-right
{
    border-right: 1px gray solid;
}

.divider-left
{
    border-left: 1px gray solid;
} */

td:not(:last-child)
{
    border-right: 1px solid gray;
}

td
{
    padding-right: 10px;
    padding-left: 10px;
}

table
{
    width: 100%;
    font-size: 0.8em;
}

.meal
{
    border-bottom: 1px solid gray;
}