<!-- <app-date-picker></app-date-picker> -->

<div class="container">
  <div class="row justify-content-center mealtype mt-3">
    <div class="col-6">
      Breakfast
    </div>
    <div class="col-auto">
      <button class="add-button"><i class="fas fa-plus"></i></button>
    </div>
  </div>

  <div class="row justify-content-center meal mt-3" *ngFor="let breakfast of this.meals">
    {{ breakfast.dish.name }}
  </div>

  <div class="row justify-content-center mealtype mt-2">
    <div class="col-6">
      Second breakfast
    </div>
    <div class="col-auto">
      <button class="add-button"><i class="fas fa-plus"></i></button>
    </div>
  </div>

  <div class="row justify-content-center mealtype mt-2">
    <div class="col-6">
      Lunch
    </div>
    <div class="col-auto">
      <button class="add-button"><i class="fas fa-plus"></i></button>
    </div>
  </div>

  <div class="row justify-content-center mealtype mt-2">
    <div class="col-6">
      Dinner
    </div>
    <div class="col-auto">
      <button class="add-button"><i class="fas fa-plus"></i></button>
    </div>
  </div>

  <div class="row justify-content-center mealtype mt-2">
    <div class="col-6">
      Snack
    </div>
    <div class="col-auto">
      <button class="add-button"><i class="fas fa-plus"></i></button>
    </div>
  </div>

  <div class="row justify-content-center mealtype mt-2">
    <div class="col-6">
      Training
    </div>
    <div class="col-auto">
      <button class="add-button"><i class="fas fa-plus"></i></button>
    </div>
  </div>
</div>