<!-- <app-date-picker></app-date-picker> -->

<div class="container" *ngIf="this.router.url === '/todays-plan'">
  <div class="wrapper" *ngFor="let i of [0, 1, 2, 3, 4, 5, 6]">
    <div class="row justify-content-center mt-3">
      <div class="col-6 mealtype mealtype-header">
        {{ this.mealTypes[i] }}
      </div>
      <div class="col-2 mealtype mealtype-add">
        <button class="add-button pull-right" (click)="setMealType(i)" [routerLink]="['add-meal']" routerLinkActive="router-link-active">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="row justify-content-center meal mt-3" *ngFor="let meal of this.filteredMeals[i]">
      <div class="col-6">
        <p class="lead" *ngIf="meal.dish !== null">{{ meal.dish.name }}</p>
        <p class="lead" *ngIf="meal.ingredient !== null">{{ meal.ingredient.name }}</p>
        <!-- <p>{{ meal.dish.calculateCallories() }}</p> -->
      </div>
      <div class="col-2">
        <button class="delete-button pull-right" (click)="deleteMeal(meal)"><i class="fas fa-times"></i></button>
        <button class="edit-button pull-right"><i class="fas fa-edit"></i></button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>