<div class="row justify-content-center mt-3">
  <div class="col-12">
    <form action="">
      <div class="searchMode">
        <label class="allFoodMode selected">All food
          <input name="searchMode" type="radio" id="all-food" value="all" (input)="setSearchMode('all')" checked>
        </label>
        <label class="myFoodMode">My food
          <input name="searchMode" type="radio" id="my-food" value="mine" (input)="setSearchMode('mine')">
        </label>
      </div>
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Filters
          </mat-expansion-panel-header>

          <label>Min. callories:
            <input name="minCallories" type="number" id="minCallories" class="form-control">
          </label>
        </mat-expansion-panel>
      </div>
    </form>
  </div>
</div>

<div class="row justify-content-center mt-2">
  <input type="text" placeholder="Search" #searchBox class="form-control"
    (input)="findDishes(searchBox.value); findIngredients(searchBox.value);">
</div>

<div class="row mt-2">
  <div class="col-lg-6 dishes">
    <div class="row justify-content-center dishes-header">
      Dishes:
    </div>
    <div class="row list-element mb-2" *ngFor="let dish of dishes">
      <div class="col-12">
        <div class="row">
          <div class="col-10 pl-2 pt-2">
            {{ dish.name }}
          </div>
          <div class="col-2 pr-0 button-div">
            <button class="add-button pull-right" (click)="addToMeal(dish.id, 0)"><i class="fas fa-plus"></i></button>
          </div>
        </div>
        <div class="row">
          <table>
            <tr>
              <td>Energy: {{ dish.callories }} kcal</td>
              <td>Proteins: {{ dish.proteins }} g</td>
              <td>Fats: {{ dish.fats }} g</td>
              <td>Carbohydrates: {{ dish.carbohydrates }} g</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="row pagination-wrapper" *ngIf="dishesPagination">
      <div class="justify-content-center" *ngIf="dishesPagination.totalPages > 1">
        <pagination [boundaryLinks]="true" [totalItems]="dishesPagination.totalItems"
          [itemsPerPage]="dishesPagination.itemsPerPage" (pageChanged)="pageChanged($event, searchBox.value)"
          [(ngModel)]="dishesPagination.currentPage" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
          lastText="&raquo;">
        </pagination>
      </div>
    </div>
  </div>

  <!-- <div class="col-lg-6 ingredients">
    <div class="row justify-content-center dishes-header">
      Ingredients:
    </div>
    <div class="row list-element mb-2" ng-repeat="" *ngFor="let ing of (ingredients$ | async).result">
      <div class="col-12">
        <div class="row">
          <div class="col-10 pl-2 pt-2">
            {{ ing.name }}
          </div>
          <div class="col-2 pr-0 button-div">
            <button class="add-button pull-right" (click)="addToMeal(ing.id, 0)"><i class="fas fa-plus"></i></button>
          </div>
        </div>
        <div class="row">
          <table>
            <tr>
              <td>Energy: {{ ing.callories }} kcal</td>
              <td>Proteins: {{ ing.proteins }} g</td>
              <td>Fats: {{ ing.fats }} g</td>
              <td>Carbohydrates: {{ ing.carbohydrates }} g</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="pagination d-flex justify-content-center">
      <pagination [boundaryLinks]="true" [totalItems]="77" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;">
      </pagination>
    </div>
  </div> -->
</div>