<div class="row justify-content-center mt-3">
  <div class="col-auto">
    <button (click)="setAddingMode('search')"><i class="fas fa-search"></i></button>
  </div>
  <div class="col-auto">
    <button (click)="setAddingMode('my food')"><i class="fas fa-book"></i></button>
  </div>
</div>

<app-add-meal-search [userId]="this.user.id" *ngIf="this.addingMode === 'search'" (addMode)="receiveAddMode($event)">
</app-add-meal-search>
<app-add-meal-my-food [userId]="this.user.id" *ngIf="this.addingMode === 'my food'" (addMode)="receiveAddMode($event)">
</app-add-meal-my-food>