
.calculationType
{
    display: flex;
    width: 100%;
}

.calculationType input
{
    display: none;
}

.calculationType label
{
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    flex: 1 1 100%;
    justify-content: center;
    text-align: center;
    border: 1px solid  #343a40;
	cursor: pointer;
	font-size: 16pt;
}

.calculationType label:hover
{
     background-color: rgba(0, 0, 0, .1);
}

.calculationType label:first-of-type
{
	color: #000;
    border-right: none;
}
.calculationType label:last-of-type
{
    border-left: none;
}

.autoCalculation:after
{
    content: '';
    display:block;
    width: 100%;
    position: relative;
    bottom: 100%;
    z-index: -1;
    height: 100%;
    background: #F3C622;transition: .5s ease-in-out;
}

.autoCalculation.selected:after
{
    transition: .35s ease-in-out;
    left: 0;
}
.autoCalculation.unselected:after
{

    transition: .35s ease-in-out;
    left: 100%;
}