<div class="chart-diplayh">
  <div>
    <canvas id="parameters"></canvas>
    <select [(ngModel)]="lessThanOrGreaterThan" style="width: 150px;height: 30px;">
      <option value='lessThan'>Less than</option>
      <option value='greaterThan'>Greater than</option>
    </select>&nbsp;&nbsp;
    <input [(ngModel)]="filterLimit" placeholder="Filter Limit" style="width: 150px;height: 30px;">&nbsp;&nbsp;
    <button class="button" (click)="applyFilter(filterLimit)">Apply filter</button>

    <div style="margin-left: auto">
        <input type="date" (input)="setDateFrom(from)" name="dateFrom" [(ngModel)]="from" style="width: 150px;height: 30px;"/>&nbsp;&nbsp;
        <input type="date" (input)="setDateTo(toMonth)" name="dateTo" [(ngModel)]="toMonth" style="width: 150px;height: 30px;"/>&nbsp;&nbsp;
        <button class="button" (click)="applyDateFilter()">Apply date filter</button>
    </div>

    <div style="margin-left: auto">
        <select (change)="applyUnitFilter(unit)" [(ngModel)]="unit" style="width: 150px;height: 30px;">
          <option value='day'>Day</option>
          <option value='week'>Week</option>
          <option value='month'>Month</option>
          <option value='quarter'>Quarter</option>
          <option value='year'>Year</option>
        </select>&nbsp;&nbsp;

      </div>
  </div>
</div>