<div class="row" *ngIf="!editMode">
  <div class="col-md-auto">
    <button class="edit-button" (click)="toggleEdit()"><i class="fas fa-edit"></i></button>
  </div>

  <div class="col">
    <div class="row">
      <div class="col-2">Username: </div>
      <div class="col-2">{{user.username}}</div>
    </div>
    <div class="row">
      <div class="col-2">E-mail: </div>
      <div class="col-2">{{user.email}}</div>
    </div>
    <div class="row">
      <div class="col-2">Password: </div>
      <div class="col-2">xxxxxxxx</div>
    </div>
  </div>
</div>

<div class="row" *ngIf="editMode">
  <form (ngSubmit)="saveChanges()">
    <div class="col-md-auto margin-left-15">
      <div class="row">
        <button class="save-button" type="submit"><i class="far fa-check-square"></i></button>
      </div>
      <div class="row">
        <button class="cancel-button" (click)="toggleEdit()" type="reset"><i class="far fa-window-close"></i></button>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col-2">Username: </div>
        <div class="col-2">
          <input type="text" value="{{user.username}}" [(ngModel)]="user.username" name="username">
        </div>
      </div>
      <div class="row">
        <div class="col-2">E-mail: </div>
        <div class="col-2">
          <input type="text" value="{{user.email}}" [(ngModel)]="user.email" name="email">
        </div>
      </div>
      <div class="row">
        <div class="col-2">Old password: </div>
        <div class="col-2"><input type="password" [(ngModel)]="user.oldPassword" name="oldPassword"></div>
      </div>
      <div class="row">
        <div class="col-2">New password: </div>
        <div class="col-2"><input type="password" [(ngModel)]="user.newPassword" name="newPassword"></div>
      </div>
    </div>
  </form>
</div>