<div class="row profileContent" *ngIf="!editMode">
  <div class="col-md-auto">
    <button class="edit-button" (click)="toggleEdit()"><i class="fas fa-edit"></i></button>
  </div>

  <div *ngIf="user" class="col">
    <div class="row">
      <div class="col-2">Username: </div>
      <div class="col-2">{{user?.username}}</div>
    </div>
    <div class="row">
      <div class="col-2">E-mail: </div>
      <div class="col-2">{{user.email}}</div>
    </div>
    <div class="row">
      <div class="col-2">Password: </div>
      <div class="col-2">xxxxxxxx</div>
    </div>
    <div class="row">
      <div class="col-2">Height: </div>
      <div *ngIf="user.height" class="col-2 nowrap">{{user?.height}} cm</div>
      <div *ngIf="!user.height" class="col-2">—</div>
    </div>
    <div class="row">
      <div class="col-2">Date of birth: </div>
      <div *ngIf="user.height" class="col-2 nowrap">{{user?.dateOfBirth | date}}</div>
      <div *ngIf="!user.height" class="col-2">—</div>
    </div>
  </div>
</div>

<div class="row" *ngIf="editMode">
  <form (ngSubmit)="saveChanges()" class="edit-profile">
    <div class="col-md-auto margin-left-15">
      <div class="row">
        <button class="save-button" type="submit"><i class="far fa-check-square"></i></button>
      </div>
      <div class="row">
        <button class="cancel-button" (click)="toggleEdit()" type="reset"><i class="far fa-window-close"></i></button>
      </div>
    </div>

    <div class="col edit-profile-fields">
      <div class="row">
        <label for="username" class="col-3">Username: </label>
        <input type="text" value="{{user.username}}" [(ngModel)]="user.username" name="username" id="username" class="col-4">
      </div>
      <div class="row">
        <label for="email" class="col-3">E-mail:</label>
          <input type="text" value="{{user.email}}" [(ngModel)]="user.email" name="email" id="email" class="col-4">
      </div>
      <div class="row">
        <label for="oldPassword" class="col-3">Old password: </label>
        <input type="password" [(ngModel)]="user.oldPassword" name="oldPassword" id="oldPassword" class="col-4">
      </div>
      <div class="row">
        <label for="newPassword" class="col-3">New password: </label>
        <input type="password" [(ngModel)]="user.newPassword" name="newPassword" id="newPassword" class="col-4">
      </div>
      <div class="row">
        <label for="height" class="col-3">Height: </label>
        <input type="number" [(ngModel)]="user.height" name="height" id="height" class="col-4" step="1" min="1" max="250">
        <span class="col-4">cm</span>
      </div>
      <div *ngIf="genderBeforeSet===0" class="row">
        <label class="col-3">Gender: </label>
          <select [(ngModel)]="user.gender" name="gender" class="col-4">
            <option value=0>—</option>
            <option value=1>Male</option>
            <option value=2>Female</option>
          </select>
      </div>
     <!--<div *ngIf="dateOfBirthBeforeSet==0 || dateOfBirthBeforeSet=='0001-01-01T00:00:00'" class="row">-->
      <div  class="row">
        <label class="col-3">Date of birth: </label>
          <input type="date" [(ngModel)]="user.dateOfBirth" name="dateOfBirth" id="dateOfBirth" class="col-4">
      </div>

    </div>
  </form>
</div>