.edit-button, .save-button, .cancel-button
{
    width: 90px;
    border: none;
    background-color: #F3C622;
    color: #343a40;
    transition: .1s ease-in-out;
}

.edit-button
{
    height: 90px;
    font-size: 3em;
}

.save-button, .cancel-button
{
    height: 45px;
    font-size: 2em;
}

.edit-button:hover, .save-button:hover, .cancel-button:hover
{

    background-color: #343a40;
    color: #F3C622;
}
.edit-button:active, .save-button:active, .cancel-button:active,
.edit-button:focus, .save-button:focus, .cancel-button:focus
{
    transition: .2s ease-in-out;
    background-color: #23212C;
    color: #E1A511;
}

.left-margin-100
{
    margin-left: 100px;
}

.top-margin-40
{
    margin-top: 40px;
}

.dropdown
{
    border: 1px solid;
}

.margin-left-15
{
    margin-left: 15px;
}

.edit-profile
{
    display:flex;
    flex-basis: 100%;
}

.edit-profile-fields .row
{
    padding: 4px;
}

label:hover
{
    cursor: pointer;
}

.col
{
    padding: 5px 0;
}

@media (max-width: 600px)
{
    .edit-button
    {
        width: 70px;
        height: 70px;
        border: none;
        background-color: #F3C622;
        color: #343a40;
        transition: .1s ease-in-out;
    }
    .save-button, .cancel-button
    {
        width: 42px;
        height: 44px;
        border: none;
        background-color: #F3C622;
        color: #343a40;
        transition: .1s ease-in-out;
    }
    
}