<div class="row" *ngIf="!editMode">
  <div class="col-md-auto">
    <button class="edit-button" (click)="toggleEdit()"><i class="fas fa-edit"></i></button>
  </div>

  <div class="col">
    <div class="row">
      <div class="col-2">Username: </div>
      <div class="col-2">{{user.username}}</div>
    </div>
    <div class="row">
      <div class="col-2">E-mail: </div>
      <div class="col-2">{{user.email}}</div>
    </div>
    <div class="row">
      <div class="col-2">Password: </div>
      <div class="col-2">xxxxxxxx</div>
    </div>
    <div class="row">
      <div class="col-2">Height: </div>
      <div *ngIf="user.height" class="col-2">{{user.height}}</div>
      <div *ngIf="!user.height" class="col-2">—</div>
    </div>
  </div>
</div>

<div class="row" *ngIf="editMode">
  <form (ngSubmit)="saveChanges()" class="edit-profile">
    <div class="col-md-auto margin-left-15">
      <div class="row">
        <button class="save-button" type="submit"><i class="far fa-check-square"></i></button>
      </div>
      <div class="row">
        <button class="cancel-button" (click)="toggleEdit()" type="reset"><i class="far fa-window-close"></i></button>
      </div>
    </div>

    <div class="col edit-profile-fields">
      <div class="row">
        <label for="username" class="col-3">Username: </label>
        <input type="text" value="{{user.username}}" [(ngModel)]="user.username" name="username" id="username" class="col-4">
      </div>
      <div class="row">
        <label for="email" class="col-3">E-mail:</label>
          <input type="text" value="{{user.email}}" [(ngModel)]="user.email" name="email" id="email" class="col-4">
      </div>
      <div class="row">
        <label for="oldPassword" class="col-3">Old password: </label>
        <input type="password" [(ngModel)]="user.oldPassword" name="oldPassword" id="oldPassword" class="col-4">
      </div>
      <div class="row">
        <label for="newPassword" class="col-3">New password: </label>
        <input type="password" [(ngModel)]="user.newPassword" name="newPassword" id="newPassword" class="col-4">
      </div>
      <div class="row">
        <label for="height" class="col-3">Height: </label>
        <input type="number" [(ngModel)]="user.height" name="height" id="height" class="col-4" step="1" min="1" max="250">
      </div>
      <div *ngIf="user.gender && user.gender!=0" class="row">
        <label class="col-3">Gender: </label>
        <ul>
          <li>
            <label for="genderMale" class="col-3">Male</label>
            <input type="radio" [(ngModel)]="user.gender" name="gender" id="genderMale" value=0 class="col-4">
          </li>
          <li>
            <label for="genderFemale" class="col-3">Female</label>
            <input type="radio" [(ngModel)]="user.gender" name="gender" id="genderFemale" value=1 class="col-4">
          </li>
        </ul>

      </div>

    </div>
  </form>
</div>