<div class="container-fluid" *ngIf="this.router.url === '/my-food'">
  <div class="info mt-3">
    <app-Info [text]="infoTextNutrients"></app-Info>
  </div>

  <div class="row justify-content-center mt-2 mx-2">
    <div class="col-md-5 mr-2">
      <div class="row">
        <div class="col-10 dishes-header">
          Dishes:
        </div>
        <div class="col-2 pr-0">
          <button class="add-button pull-right add-dish-button" [routerLink]="['add-dish']"
            routerLinkActive="router-link-active"><i class="fas fa-plus"></i></button>
        </div>
      </div>

      <!-- Dishes -->
      <div class="mb-2" *ngFor="let dish of this.dishes">
        <app-dish-list-item [dish]="dish" (deleted)="onDishDeleted($event)"></app-dish-list-item>
      </div>

      <!-- Pagination -->
      <div class="row pagination-wrapper mt-3 justify-content-center" *ngIf="dishesPagination">
        <div *ngIf="dishesPagination.totalPages > 1">
          <pagination [boundaryLinks]="true" [totalItems]="dishesPagination.totalItems"
            [itemsPerPage]="dishesPagination.itemsPerPage" (pageChanged)="dishesPageChanged($event)"
            [(ngModel)]="dishesPagination.currentPage" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;">
          </pagination>
        </div>
      </div>
    </div>
    <div class="col-md-5 ml-2 divider-left">
      <div class="row">

        <!-- Ingredients -->
        <div class="col-10 ingredients-header">
          Ingredients:
        </div>
        <div class="col-2 pr-0">
          <button class="add-button pull-right add-ingredient-button" [routerLink]="['add-ingredient']"
            routerLinkActive="router-link-active"><i class="fas fa-plus"></i></button>
        </div>
      </div>
      <div class="mb-2" *ngFor="let ingredient of this.ingredients">
        <app-ingredient-list-item [ingredient]="ingredient" (deleted)="onIngredientDeleted($event)"></app-ingredient-list-item>
      </div>

      <!-- Pagination -->
      <div class="row pagination-wrapper mt-3 justify-content-center" *ngIf="ingredientsPagination">
        <div *ngIf="ingredientsPagination.totalPages > 1">
          <pagination [boundaryLinks]="true" [totalItems]="ingredientsPagination.totalItems"
            [itemsPerPage]="ingredientsPagination.itemsPerPage" (pageChanged)="ingredientsPageChanged($event)"
            [(ngModel)]="ingredientsPagination.currentPage" previousText="&lsaquo;" nextText="&rsaquo;"
            firstText="&laquo;" lastText="&raquo;">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>