.delete-button, .edit-button, .add-button
{
    font-size: 1.4em;
    width: 2.7vw;
    height: 2.7vw;
    text-align: center;
}

.list-item
{
    border: 2px solid rgb(187, 152, 24);
    margin-bottom: 2px;
}

.list-element:hover
{
    background-color: rgb(58, 58, 58);
}

td:not(:last-child)
{
    border-right: 1px solid gray;
}

td
{
    padding-right: 10px;
    padding-left: 10px;
}

table
{
    width: 100%;
}

.buttons
{
    padding-right: 1px;
    padding-top: 1px;   
}

.add-dish-button, .add-ingredient-button
{
    margin-right: 3px;
}

.ingredients-header, .dishes-header
{
    font-size: 1.3em;
}

/deep/ li.page-item > .page-link, /deep/ li.page-item.disabled > .page-link
{
    background-color: rgb(29, 29, 29);
    color: #F3C622;
    border: none;
}

/deep/ li.page-item > .page-link:hover, /deep/ li.page-item.active > .page-link
{
    background-color: #F3C622;
    color: rgb(29, 29, 29);
}