<div class="carousel js-carousel">
	<div class="carousel-nav">
		<button class="carousel-button-prev js-carousel-button" (click)="slideDate('backward')" data-dir="prev">&lt;</button>
		</div>
	<div class="carousel-container js-carousel-container">
		<ul class="carousel-list is-set js-carousel-list">
			<li class="plan-date date-item js-carousel-item" *ngFor="let item of visibleDates" [ngClass]="{'selectedDate': item.date|date:'MM-dd'=='11-11'}"  [routerLink]="['/todays-plan',item.date|date:'dd-MM-yyyy']" routerLinkActive="router-link-active" >
				<a>
					{{item.date|date:'MM-dd'}}
				</a>
			</li>
		</ul>
	</div>
	<div class="carousel-nav">
		<button class="carousel-button-next js-carousel-button" (click)="slideDate('forward')" data-dir="next">&gt;</button>
	</div>
</div>