.carousel
{
    background-color: #343a40;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.carousel-container
{
    height:40px;
    width: 380px;
    overflow: hidden;
    flex: 1 1 400px;
}

.carousel-list
{
    left: calc(-100%/7);
    box-sizing: border-box;
    width: 100%;
    position: relative;
    white-space: nowrap;
    transition: .5s ease-in-out;
    height: 40px;
}

.date-item
{
    color: #fff;
    width: calc(100%/7);
    display: inline-block;
    border: none;
    text-align: center;
    background: rgb(52,58,64);
    transition: .1s ease-in-out;
    line-height: 36px;
}

.date-item:hover,
.date-item:active,
.selectedDate
{
    color: #F3C622;
    background: #23212C;
}

.selectedDate
{
    font-size: 1.3em;
    border-bottom: 1px solid #F3C622;
    border-left: 1px solid #F3C622;
    border-right: 1px solid #F3C622;
}

.date-item:active
{
    border: 3px solid #F3C622;
}

.carousel-nav
{
    height:40px;
    padding: 2px;
}

.carousel-button-prev,
.carousel-button-next
{
    background: inherit;
    color: #fff;
    line-height: 100%;
    font-size: 200%;
    height: 100%;
    border: none;
    margin:1px;
    transition: .1 ease-in-out;
}

.carousel-button-prev:hover,
.carousel-button-next:hover,
.carousel-button-prev:active,
.carousel-button-next:active
{
    background: inherit;
    color: #F3C622;
}